.app {
  font-family: Arial, sans-serif;
  background-color: #f8e5cb;
  color: #933b35;
  min-height: 100vh;
}

.content {
  text-align: center;
  padding: 2rem 1rem;
}
.hero {
  display: flex;
  justify-content: flex-start; /* Align items at the start */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row; /* Ensure image stays on the right */
  gap: 2cm; /* Maintain 2cm distance between text and image */
}

.hero-text {
  max-width: 50%;
  padding: 1rem;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease-out forwards;
  text-align: left; /* Ensure text aligns to the left */
}

.hero-image {
  max-width: 45%; /* Adjust the width of the image container */
  text-align: center;
}

.hero-image img {
  border: 2px solid #7e2d27;
  border-radius: 5px;
  max-width: 100%;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.5;
}
footer {
  text-align: center;
  padding: 1rem;
  /* background-color: red;
  color: blue; */
}



